.home {
    text-align: center;
    padding: 4rem 2rem;
    background-color: black; 
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: medium;
  }
  
  .home-header {
    margin-bottom: 1rem;
  }
  
  .home-header h1 {
    font-size: 3rem;
    color: white; 
  }
  
  .mission-statement {
    font-size: 1.5rem;
    color: white; 
    margin: 1rem 0;
  }
  
  .skills-and-images {
    display: flex;
    
    justify-content: space-between;
    align-items: flex-start; 
    margin: 1rem 0;
  }
  
  .skills-section {
    flex: 0.5; 
    text-align: left; 
    padding-left:10rem; 
    background-color: #252B2E; 
    border-radius: 8px; 
  }
  
  
  .skills-section h2 {
    font-size: 2rem;
    color: white; 
  }
  
  .skills-list {
    list-style-type: none; 
    padding: 0;
  }
  
  .skills-list li {
    font-size: 1.2rem;
    color: white; 
    margin: 0.5rem 0;
  }
  
  .images-section {
    flex: 1; 
    display: flex;
    justify-content: center; 
    
  }
  
  .contact-button-container {
    margin-top: 2rem;
  }
  
  .contact-button {
    display: inline-block;
    margin-top: 1.5rem;
    background-color: #308d46; 
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s;
  }
  
  .contact-button:hover {
    background-color: greenyellow; 
  }
  .skill-image {
    width: 300px; 
    height: auto; 
    margin-left: 40px; 
    margin-top: 5rem;
    border-radius: 8px; 
    transition: transform 0.3s; 
  }
  
  .skill-image:hover {
    transform: scale(1.05); 
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .home-header {
    animation: fadeIn 1s ease-in-out;
  }
  
  .skills-section {
    animation: fadeIn 1.5s ease-in-out; 
  }
  
  .images-section {
    animation: slideIn 1.5s ease-in-out;
  }
  
  .skills-list li {
    font-size: 1.2rem;
    color: white; 
    margin: 0.5rem 0;
    transition: transform 0.3s; 
  }
  
  .skills-list li:hover {
    transform: scale(1.05); 
    color: purple; 
  }
  
  .contact-button {
    display: inline-block;
    margin-top: 1.5rem;
    background-color:#308d46 ;
    color: white;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 25px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s; 
  }
  
  .contact-button:hover {
    background-color: greenyellow; 
    transform: scale(1.05); 
  }
  