.navbar-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .logo-image {
    height: 50px; 
    width: auto;
    border-radius: 8px; 
  }
  
.navbar {
    background-color:#308D46;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
    align-items: center;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: flex-start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  
  .nav-item {
    height: 80px;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .nav-links:hover {
    background-color: #363636;
    border-radius: 5px;
  }
  
  
  @media screen and (max-width: 960px) {
    .navbar-container {
      padding: 0 20px;
    }
  
    .nav-menu {
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #333;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-item {
      width: 100%;
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar-logo {
      font-size: 1.8rem;
    }
  }
  